.contact-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-container{
    display: block;
    height: 900px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(61, 60, 60);
    /* background-color: black; */
    color: white;
}
.contact-box1{
    display: flex;
    flex-direction: column;  
    float: left;  
    height: 500px;
    width: 400px;
    margin: 10px 40px;
    padding: 50px 50px;
    background-color:rgb(61, 60, 60);
    justify-content:center;
    align-items:center;
    text-align:center;
    }
.call{
    justify-content:center;
    text-align:center;
    align-items:center;
    margin-top:60px;
    padding:10px 20px;
    font-size:1.3rem;
    font-weight:300;
 }
 .mail{
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:5px 10px;
    font-size:1.3rem;
    font-weight:300;
}
.ads{
    margin-top: 30px;
    padding: 4px 3px ;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 300;

}
.ads span{
    padding: 50px 54px;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
.connect{
    margin-top: 30px;
    padding: 14px 3px ;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
}

.contact-box1 img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.contact-container img{
    height: 28px;
    width: 30px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 60, 60);
    position: absolute;
    top: auto;
    left: 50px;
    right:60px;
    bottom: auto;
    margin-left: 80px;
}
.connect h3{
    justify-content: center;
    text-align: center;
    color: white;
    margin:10px 30px 0 40px;
    padding:10px 25px 0px;
    font-size:1.5rem;
    font-weight:300 

}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.social a{
    line-height: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: black;
    text-align: center;
    margin: 10px;
    /* box-shadow: 1px 4px 2px 2px; */
}
.social a i{
    text-align:center;
    font-size: 28px;
    transition: all 0.3s linear;
    padding:2px;
    margin:3px;
}
.social a:hover i{
    transform: scale(1.2);
}
.fa-facebook-f{
    color: blue;
}
.fa-instagram{
    color: #e84393;
}
.fa-twitter{
    color: #0097e6;
}

/* box-2 content */

.contact-box2{
    display: flex;
    flex-direction: column;   
    float: right;
    height: 600px;
    width: 400px;
    margin: 40px;
    padding: 50px ;
    background-color: rgb(61, 60, 60);
    justify-content:center;
    align-items:center;
    text-align:center;
    }
.form__wrapper {
    padding: 3rem 0;
    margin-left: 40px;
}
.form__wrapper form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    box-sizing: border-box;
}
.form__group label {
    font-size: 20px;
    font-family: Poppins;
    color: var(--black-2);
    font-weight: 100;
}
.form__group input {
    width: 300px;
    height: 0px;
    outline:none;
    background-color: rgb(61, 60, 60);
    border-top:none;
    border-left:none;
    border-right:none ;
    border-bottom: 2px solid white;
    font-size: 1.1rem;
    font-family: Raleway;
    font-weight: 300;
    padding: 1.5rem;
    border-radius: 1px;
    margin-top: 0.5rem;
    color: white;
}
.form__group textarea{
    width: 300px;
    height: 3px;
    outline:none;
    text-decoration: none;
    background-color: rgb(61, 60, 60);
    border-top:none;
    border-left:none;
    border-right:none ;
    border-bottom: 2px solid white;
    font-size: 1.1rem;
    font-family: Raleway;
    font-weight: 300;
    padding: 1.5rem;
    border-radius: 1px;
    margin-top: 0.5rem;
    color: white;
}
.btn button{
    width: 300px;
    height: 0px;
    outline:none;
    background-color: rgb(61, 60, 60);
    border: 2px solid white;
    font-size: 1.2rem;
    font-family: Raleway;
    font-weight: 300;
    padding: 1.5rem;
    border-radius: 1px;
    margin-top: 0.5rem;
    padding-top:20px;
    padding-bottom:40px;
    color: white;
    text-align: center;
}
.btn button:hover{
    width: 300px;
    height: 0px;
    outline:none;
    background-color: black;
    border: 2px solid white;
    font-size: 1.2rem;
    font-family: Raleway;
    font-weight: 300;
    padding: 1.5rem;
    border-radius: 1px;
    margin-top: 0.5rem;
    padding-top:20px;
    padding-bottom:40px;
    color: white;
    text-align: center;
}

/* responsive */

/* @media (min-width: 768px) {
    .contact-box1 {
      float: left;
      width: 50%;
      margin: 10px;
      padding: 50px;
    }
  
    .contact-box2 {
      float: right;
      width: 50%;
      margin: 6px;
      padding: 5px;
    }
  
    .form__wrapper {
      margin-left: 0;
    }
  } */