*{
    margin: 0;
    padding: 0;
}

/*CSS variables*/
:root{
    --navbar-height:59px;
}
body{
    background: url('../../assets/main3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 900px;
    object-fit: contain;
    opacity: 1;

}
.box{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    float: left;
    margin: 6px 4px;
    padding: 50px 4px;
    width: 280px;
    height: 300px;
    justify-items: center;
}
.box p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-items: center;
    padding: 4px 30px;
    margin: 5px 3px;
}
.box button{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 2px solid white;
    margin: 6px 6px;
    padding: 9px 9px;
}
.box button:hover{
    background-color: white;
    color: black;
}
.box button a{
    text-decoration: none;
    color: white;
}
.box button a:hover{
    text-decoration: none;
    color: black;
    background-color: white;
}

/* navigation bar */
#megma{
    margin: 25px 40px;
}
#megma a{
    height: 10px;
    margin: 12px 12px;
    color: white;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 4px;
    background-color: black;
    z-index: 99999999;
    width: 100%;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 18px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: gray;
    background-color:black;
}
#navbar ul div button{
    background-color: black;
    color: white;
    border-color: white;
    margin:3px 10px;
    padding: 3px 18px;
    font-family: 'Times New Roman', Times, serif;
    /* border-radius: 20px; */
    font-size: 1rem;
}
.btn1 button{
   border-color: white;
   border-radius: 20px;
}
.btn2 button{
    border-color: white;
    border-radius: 3px;
    color: white;
    background-color: black;
}
.btn2 button a{
    text-decoration: none;
    border-color: white;
    /* border-radius: 3px; */
    color: white;
    background-color: black;
}
.btn2 button a:hover{
    text-decoration: none;
    border-color: white;
    /* border-radius: 3px; */
    color: black;
    background-color: white;
}
#navbar ul div button:hover{
    background-color: white;
    color: black;
}

/* .btn2{
    background-color: black;
    color: white;
    padding: 3px 22px;
    font-family: 'Times New Roman', Times, serif;
} */
/* .btn2:hover{
    background-color: white;
    color: black;
} */
.container{
display: block;
text-align: center;
background-color: black;
color: white;
margin-bottom: 6px;
padding: 50px 4px;
width: 100%;
height: 130px;
justify-items: center;
}
.box1{
    display: flex;
    float: left;
    text-align: center;
    height: 140px;
    width: 350px;
    background-color: black;
    padding:10px;
    margin:1px 10px 5px 10px;
}
.para1,.para2{
    text-align:center;
    color:white;
    justify-content:center;
    align-items:center;
    margin:3px 30px 0 50px;
    padding:2px 25px;
    font-size:1.1rem;
    font-weight:300 
}
.box2,.box3{
    display: flex;
    float: left;
    flex-direction: column;
    text-align: center;
    height: 140px;
    width: 350px;
    background-color: black;
    padding:10px;
    margin:1px 10px 5px 10px;
}
.box3 h3{
    justify-content: center;
    text-align: center;
    color: white;
    margin:0 30px 0 40px;
    padding:0 25px 0px;
    font-size:1.5rem;
    font-weight:300 

}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.social a{
    line-height: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: black;
    text-align: center;
    margin: 10px;
    /* box-shadow: 1px 4px 2px 2px; */
}
.social a i{
    text-align:center;
    font-size: 28px;
    transition: all 0.3s linear;
    padding:2px;
    margin:3px;
}
.social a:hover i{
    transform: scale(1.2);
}
.fa-facebook-f{
    color: blue;
}
.fa-instagram{
    color: #e84393;
}
.fa-twitter{
    color: #0097e6;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}
.rnc__base{
    z-index: 999999999999 !important;
}


/* @media (max-width: 768px) {
    .box {
      width: 100%;
    }
  
    .box1,
    .box2,
    .box3 {
      width: 100%;
    }
  
    .para1,
    .para2 {
      margin: 3px 10px;
    }


} */