/* .menu *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* body{
    background-color: rgb(159, 156, 156);
    color: black;
    font-family: 'Poppins',sans-serif;
} */
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px,1fr));
    grid-gap: 2px 4px;
    background-color:rgb(159, 156, 156);
}
.menu-box{
    color:black;
    margin-bottom: 2px;
    /* padding: 5px 10px 30px 10px; */
    grid-column: 1/-1;
    text-align: center;
}
.menu-line{
    background-color: brown;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
}
.heading{
    background-color: rgb(61, 60, 60);
    color: #ffffff;
    margin-bottom: 30px;
    padding: 50px 10px 30px 10px;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h4{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: black;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background-color: brown;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    height: 50px;
}
.details>button:hover{
    background-color: black;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    height: 50px;
}

/* responsive */

/* @media (max-width: 768px) {
    .menu {
      grid-template-columns: 1fr;
      grid-gap: 2px;
    }
    
    .menu-box,
    .heading,
    .food-items {
      margin: 0;
    }
    
    .food-items {
      margin-bottom: 20px;
    }
    
    .details > p {
      font-size: 14px;
    }
  } */